*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:
    radial-gradient(circle at top,#182338,#000);
  color:white;
  min-height:100vh;
}

/* NAV */

.nav{
  padding:20px;
  border-bottom:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(12px);

  background:
    rgba(255,255,255,0.03);
}

.logo{
  font-size:22px;
  font-weight:bold;
}

/* HERO */

.hero{
  display:flex;
  justify-content:center;
  padding:60px 20px;
}

/* GLASS */

.glass{
  background:
    rgba(255,255,255,0.05);

  border:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(18px);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.4);
}

/* SEARCH */

.search-box{
  width:100%;
  max-width:700px;
  border-radius:24px;
  padding:40px;
  text-align:center;
}

.search-box h1{
  font-size:42px;
  margin-bottom:10px;
}

.search-box p{
  color:#b4b4b4;
  margin-bottom:30px;
}

/* UK PLATE */

.plate{
  display:flex;
  overflow:hidden;
  border-radius:12px;
  margin-bottom:20px;
}

.gb{
  background:#003399;
  color:white;
  font-weight:bold;
  display:flex;
  align-items:center;
  padding:0 14px;
}

.plate input{
  flex:1;
  border:none;
  outline:none;
  background:#ffd800;
  color:black;
  font-size:32px;
  text-align:center;
  letter-spacing:5px;
  text-transform:uppercase;
  padding:18px;
  font-weight:bold;
}

/* BUTTON */

button{
  width:100%;
  padding:18px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
}

/* RESULT */

.result-card{
  max-width:1000px;
  margin:20px auto;
  padding:30px;
  border-radius:24px;
}

.result-plate{
  display:flex;
  width:fit-content;
  margin:auto;
  overflow:hidden;
  border-radius:10px;
}

.result-plate .gb{
  padding:12px;
}

.result-reg{
  background:#ffd800;
  color:black;
  font-size:38px;
  font-weight:bold;
  padding:12px 30px;
  letter-spacing:5px;
}

/* GRID */

.grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

  gap:15px;
  margin-top:30px;
}

.info-box{
  background:
    rgba(255,255,255,0.04);

  padding:18px;
  border-radius:16px;
}

.info-title{
  color:#999;
  font-size:14px;
  margin-bottom:8px;
}

.info-value{
  font-size:22px;
  font-weight:bold;
}

/* MOT */

.mot-btn{
  margin-top:25px;
}

#motContainer{
  display:none;
  margin-top:20px;
}

.mot-item{
  background:
    rgba(255,255,255,0.04);

  border:
    1px solid rgba(255,255,255,0.06);

  padding:20px;
  border-radius:16px;
  margin-bottom:15px;
}

.defect{
  margin-top:10px;
  padding:10px;
  border-radius:10px;
  background:
    rgba(255,255,255,0.03);
}

.advisory{
  color:#facc15;
}

.major{
  color:#fb923c;
}

.dangerous{
  color:#ef4444;
}
