*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:
    radial-gradient(circle at top,#152033,#000);
  color:white;
  min-height:100vh;
}

.nav{
  padding:20px;
  font-size:22px;
  font-weight:bold;
  background:
    rgba(255,255,255,0.03);

  backdrop-filter:blur(10px);

  border-bottom:
    1px solid rgba(255,255,255,0.06);
}

.hero{
  display:flex;
  justify-content:center;
  padding:60px 20px;
}

.glass{
  background:
    rgba(255,255,255,0.05);

  backdrop-filter:blur(20px);

  border:
    1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.5);
}

.search-card{
  width:100%;
  max-width:700px;
  padding:40px;
  border-radius:28px;
  text-align:center;
}

.search-card h1{
  font-size:42px;
  margin-bottom:10px;
}

.search-card p{
  color:#aaa;
  margin-bottom:30px;
}

.plate{
  display:flex;
  overflow:hidden;
  border-radius:12px;
  margin-bottom:20px;
}

.gb{
  background:#003399;
  color:white;
  font-weight:bold;
  display:flex;
  align-items:center;
  padding:0 16px;
}

.plate input{
  flex:1;
  border:none;
  outline:none;
  background:#ffd800;
  color:black;
  font-size:32px;
  text-align:center;
  letter-spacing:5px;
  text-transform:uppercase;
  font-weight:bold;
  padding:18px;
}

button{
  width:100%;
  padding:18px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
}

.result-card{
  max-width:1100px;
  margin:20px auto;
  padding:30px;
  border-radius:24px;
}

.result-plate{
  display:flex;
  width:fit-content;
  margin:auto;
  overflow:hidden;
  border-radius:10px;
}

.result-reg{
  background:#ffd800;
  color:black;
  font-size:40px;
  font-weight:bold;
  padding:12px 30px;
  letter-spacing:5px;
}

.grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

  gap:15px;
  margin-top:30px;
}

.info-box{
  background:
    rgba(255,255,255,0.04);

  padding:20px;
  border-radius:16px;
}

.info-title{
  color:#999;
  margin-bottom:10px;
}

.info-value{
  font-size:24px;
  font-weight:bold;
}

#motContainer{
  display:none;
  margin-top:20px;
}

.mot-item{
  background:
    rgba(255,255,255,0.04);

  padding:20px;
  border-radius:16px;
  margin-bottom:15px;
}

.defect{
  margin-top:10px;
  padding:10px;
  border-radius:10px;
  background:
    rgba(255,255,255,0.03);
}

.advisory{
  color:#facc15;
}

.major{
  color:#fb923c;
}

.dangerous{
  color:#ef4444;
}
